body {
    margin: 0;
    font-family: 'Poppins', 'Noto Sans TC', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  
  .bg-video {
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    @apply absolute min-w-full min-h-full max-w-none;
  }

  .content {
    margin-top: 100vh;
    padding: 1rem;
    background: white;
    position: relative;
    &::before {
      content: "";
      top: -100vh;
      @include coverer;
    }
  }