@tailwind components;

@layer components {
.btn {
  @apply px-4 py-2 rounded;
  &.btn-primary {
    border: 1px solid white;
    &.change {
      border: 1px solid black;
    }
    &:hover {
      background: rgba(255,255,255,0.8);
      @apply text-black;
    }
  }
  &.btn-sign-in {
    @apply lowercase text-white;
    &.change {
      @apply text-black;
    }
    &:hover {
      color: rgb(255,153,0);
    }
  }
}
}
