@import url(/src/styles/button.css);

body {
  margin: 0;
  font-family: "Poppins", "Noto Sans TC", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-video {
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  @apply absolute min-w-full min-h-full max-w-none;
}

.content {
  margin-top: 100vh;
  padding: 1rem;
  background: white;
  position: relative;
  &::before {
    content: "";
    top: -100vh;
    @include coverer;
  }
}

.logo {
  background-image: url(/public/assets/logo_dxne_h_white.svg);
  background-repeat: no-repeat;
  background-size: auto 30px;
  width: 180px;
  height: 30px;
}

#menu {
  @apply lowercase items-center text-white;
  font-weight: 500;
  font-size: 1rem;
}

.headline {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
}
